
@{
    ViewData["Title"] = "FilterContent";
    Layout = "~/Views/Shared/_ContLayout.cshtml";
}

@section heading{
    Lọc nội dung văn bản
}


<hr />

<div id="SentimentText">
    
    @if (ViewBag.Label)
    {
        <h3>Chẩn đoán: Nội dung trang web không an toàn.</h3>
        <br />
        <p style="color:red;"><strong>Nội dung thông tin vi phạm, bị ngăn cấm</strong></p>
    }else
    {
        <h3>Chẩn đoán: Nội dung trang web an toàn</h3>
        <p>Nội dung: </p>

        <p style="color:green;">@ViewBag.Text</p>
        
    }
</div>

@section Scripts{
    <script>
        validateContent();
    </script>
}
