@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
            <img src="~/assets/img/hero-carousel/slide08.png" alt="">
            <div class="carousel-container">
                <h2>Chào mừng bạn đến với NetGuard for Kids<br></h2>
                <p>Phần mềm lọc và ngăn cấm nội dung độc hại trên internet có mục đích bảo vệ người dùng, đặc biệt là trẻ em, khỏi các nội dung không phù hợp hoặc gây hại như bạo lực, nội dung khiêu dâm, hoặc thông tin sai lệch.</p>
                <a href="#featured-services" class="btn-get-started">Khám phá</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <img src="~/assets/img/hero-carousel/slide06.png" alt="">
            <div class="carousel-container">
                <h2>NetGuard for Kids</h2>
                <p>Phần mềm này giúp tạo môi trường trực tuyến an toàn bằng cách chặn các trang web, ứng dụng, và nội dung độc hại dựa trên các tiêu chí định sẵn.</p>
                <a href="#featured-services" class="btn-get-started">Khám phá</a>
            </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
            <img src="~/assets/img/hero-carousel/slide05.png" alt="">
            <div class="carousel-container">
                <h2>NetGuard for Kids</h2>
                <p>Điều này giúp giảm nguy cơ tiếp cận các nội dung xấu, bảo vệ sức khỏe tinh thần và thể chất của người dùng, và hỗ trợ cha mẹ, giáo viên trong việc quản lý và định hướng hoạt động truy cập internet an toàn cho con em và học sinh.</p>
                <a href="#featured-services" class="btn-get-started">Khám phá</a>
            </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

    </div>

</section><!-- /Hero Section -->