@using ObSecureApp.Controllers;

@{
    ViewData["Title"] = "Predict2";
    Layout = "~/Views/Shared/_ContLayout.cshtml";
}

@section heading {
    Chẩn đoán hình ảnh
}
<h3>Chọn file để upload</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Home" asp-action="Predict2"
              enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="file" name="fileUpload" class="form-control" />
            <button type="submit" name="Upload" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
<hr />

<h3>Kết quả chẩn đoán: </h3>
@if (@ViewBag.Result != null)
{
    var pr = @ViewBag.Result as PredictResult;
    <strong>
        Label: @pr.Label
    </strong>
    <br />
    <strong>
        Score: @pr.Score
    </strong>
    <br />

    if (pr.Label.Contains("porn"))
    {
        <strong>
            Nội dung độc hại, bị nghiêm cấm.
        </strong>

    }
    if (pr.Label.Contains("gore"))
    {
        <strong>
            Nội dung độc hại, bị nghiêm cấm.
        </strong>

    }
}