@model ObSecureApp.Controllers.RuleModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ContLayout.cshtml";
}

@section heading{
    <h1>Create</h1>
}


<h4>RuleModel</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="priority" class="control-label"></label>
                <input asp-for="priority" class="form-control" value="1" readonly />
                <span asp-validation-for="priority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Action</label>
                <input required type="text" value="block" readonly name="type" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ trang</label>
                <input required type="text" name="url" class="form-control" />
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

